/* Reset de Estilos */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    text-align: center; /* Adicionado para centralizar os links */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; /* Adicionado para enfatizar os links */
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff7f50;
}

main {
    padding-top: 80px;
    background-color: #fff;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

section p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Outros estilos permanecem os mesmos */

.btn-primary {
    display: inline-block;
    background-color: #ff7f50;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #ff6347;
}

/* Outros estilos permanecem os mesmos */

.logo {
    height: 1em; /* Define a altura da imagem igual à altura do texto */
    vertical-align: middle; /* Alinha verticalmente a imagem com o texto */
    margin-right: 10px; /* Adiciona um espaço entre a imagem e o texto */
}
